<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PageObjectModel">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.opentext.listeners.CustomListeners" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="com.opentext.testcases.TestloginAsAdmin" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
